.a{
  background-color: #B8F1B0;
  position: absolute;
  text-align: center;
  font-size:50px;
  font-style: normal;
  font-family: "Sacramento",cursive;
  margin-top:0;
  padding-top: 150px;
  padding-bottom: 100px;
  height: 420px;
  width: 100%;
  border-left-style: solid;
  border-width: 15px;
  color: #231955
}
.b2{
    border: none;
    border-bottom-style: dotted;
    border-width: 8px;
    width: 5%;
    color: #495C83;
}
.b{
  background-color: #DAE2B6;
  position: absolute;
  text-align: center;
  font-size:50px;
  font-style: normal;
  font-family: "Sacramento",cursive;
  margin-top: 700px;
  padding-top: 150px;
  padding-bottom: 100px;
  height: 420px;
  width: 100%;
  border-left-style: solid;
  border-width: 15px;
  color: #231955
}
.b1{
    border: none;
    border-bottom-style: dotted;
    border-width: 8px;
    width: 5%;
    color: #495C83;
}
.c{
  background-color: #CEE5D0;
  position:absolute;
  text-align: center;
  font-size:50px;
  font-style: normal;
  font-family: "Sacramento",cursive;
  margin-top: 1400px;
  padding-top: 150px;
  padding-bottom: 100px;
  height: 420px;
  width: 100%;
  border-left-style: solid;
  border-width: 15px;
  color: #231955
}
.b1{
    border: none;
    border-bottom-style: dotted;
    border-width: 8px;
    width: 5%;
    color: #495C83;
  }
.img1{
  position: relative;
margin-top: 30px;
}
.pro{
  background-color: #A0D995;
  position:absolute;
  text-align: center;
  font-style: normal;
  font-family: "Merriweather",cursive;
  margin-top: 2100px;
  padding-top: 150px;
  padding-bottom: 100px;
  height: 420px;
  width: 100%;
  border-left-style: solid;
  border-width: 15px;
  color: #231955
}
.p{
  font-family: "Sacramento",cursive;
  font-size: 5rem;
}
.q{
  font-size: 1rem;
  text-align: left;
  margin-left: 400px;
}
.auto{
  margin-left: 400px;
  margin-right: 400px;
  text-align: justify;
}
.cafe{
  float: left;
  margin-bottom: 500px;
  margin-left: 230px;
  height: 150px;
  width: 150px;
}
.ref{
  background-color: #B2C8DF;
  position:absolute;
  text-align: center;
  font-style: normal;
  font-family: "Merriweather",cursive;
  margin-top: 2800px;
  padding-top: 150px;
  padding-bottom: 100px;
  height: 420px;
  width: 100%;
  border-left-style: solid;
  border-width: 15px;
  color: #231955
}
.sys{
  margin-left: 400px;
  margin-right: 400px;
  text-align: justify;
}
.k{
  font-family: "Sacramento",cursive;
  font-size: 5rem;
}
.l{
  font-size: 1rem;
  text-align: left;
  margin-left: 400px;
}
.foot{
  position: absolute;
  margin-top: 3600px;
  height: 90px;
  width: 100%;
  text-align: center;
  background-color: #66BFBF;
  border-left-style: solid;
  border-width: 15px;
  color: #231955;
}
.ac{
  position: relative;
  margin: 10px;
  margin-bottom: 30px;
  text-decoration: none;
  font-family: "Montserrat",sans-serif;
  color: #18978F;
}
.ac:hover{
  background-color: #4CACBC;
}
.cr{
  display: inline-block;
  font-family: "Merriweather",sans-serif;
  font-size: 0.7rem;
  margin-top: 30px;
}
.con{
  position: absolute;
  margin-top:3500px;
}
.btn {
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  text-shadow: 2px 2px 3px #11164f;
  -webkit-box-shadow: 2px 3px 5px #03060a;
  -moz-box-shadow: 2px 3px 5px #03060a;
  box-shadow: 2px 3px 5px #03060a;
  font-family: Arial;
  color: #3480d1;
  font-size: 32px;
  background: #3463d9;
  padding: 8px 25px 12px 25px;
  border: solid #1f628d 0px;
  text-decoration: none;
  margin-left: 630px;
}

.btn:hover {
  background: #439dad;
  text-decoration: none;
}
